.loader-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 85px);
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  gap: 20px;
  width: 448px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.loading-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 148px;
}

.loading-animation {
  position: relative;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  border-radius: 8px;
  background: var(--bg-light);
  background-image: linear-gradient(
    to right,
    var(--bg-light) 0%,
    #ecf0f4 20%,
    var(--bg-light) 40%,
    var(--bg-light) 100%
  );
  background-repeat: no-repeat;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loading-circle {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
