.container {
  padding: 96px 0 96px 0;
  display: flex;
  gap: 64px;
}

.heading {
  color: var(--font-dark);
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -0.44px;
  text-align: left;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.text {
  width: 100%;
  color: var(--font-light);
  font-size: 20px;
  line-height: 150%;
  text-align: left;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.card {
  display: flex;
  padding: 24px 32px;
  align-items: center;
  border-radius: 8px;
  border: 3px solid var(--bg-light);
  color: var(--font-dark);
  gap: 16px;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
}

.cardBlurb {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

/* title colors */
.teal {
  color: #16bdca;
}

.purple {
  color: #9061f9;
}

.red {
  color: #f05252;
}

.blue {
  color: #1c64f2;
}

@media screen and (max-width: 1150px) {
  .container {
    flex-direction: column;
  }

  .right {
    width: 100%;
  }

  .left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .heading,
  .text {
    text-align: center;
  }
}
